<h2>{{isUpdate ? 'Update' : 'Create'}} category</h2>

<form class="pt-4" [formGroup]="categoryForm" (submit)="save()">
  <div class="form-group">
    <mat-form-field class="d-block">
      <mat-select placeholder="Category type" formControlName="categoryDictionaryId">
        <mat-option *ngFor="let c of (categoryDictionaries$ | async)" [value]="c.id">
          {{c.categoryName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="d-block">
      <input matInput
             [placeholder]="categoryForm.get('categoryDictionaryId').value | categoryMetadata:'categoryParam1Name' | async"
             formControlName="param1" required>
      <mat-error *ngIf="categoryForm.get('param1').hasError('required')">
        Please provide param "{{categoryForm.get('categoryDictionaryId').value | categoryMetadata:'categoryParam1Name' | async}}"
      </mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" class="w-100" type="submit">Confirm</button>
</form>
