.mat-sidenav-content {
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: 2rem;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.main-content {
  padding-left: 0;
  padding-top: 1rem;
}
